form {
  width:300px;
  height:300px;
  
     float:left;
}

.image {
        width:300px;
        height:300px;  
        background-image: url("http://www.allpethousesitters.net.au/files/2012/08/cat-300x300.jpg");
        float:left;
        margin-right:30px;
        margin-left:40px;
  }

  .square{
    width:100px;
    height:100px;
    float:left;
  }

  .fill{
    background-color: black;
  }

  #alertSuccsess {
    display: none;
  }

    #alertWarning {
    display: none;
  }

.f1 {
  margin:10px;
}

input {
  width:300px;
}

a{
  width:300px;
  margin-top:10px;
}

