/*https://jsfiddle.net/api/mdn/*/
form {
  width:300px;
  height:300px;
  
     float:left;
}

#continueBtn {
  display:none;
}

#round{
  display: none;
}

.image {
        width:300px;
        height:300px;  
        background-image: url("http://www.allpethousesitters.net.au/files/2012/08/cat-300x300.jpg");
        float:left;
        margin-right:30px;
        margin-left:40px;
  }

.square{
    width:100px;
    height:100px;
    float:left;
  }

.fill{
    background-color: black;
  }


#f1 {
  margin:10px;
}

input {
  width:300px;
}

a{
  width:300px;
  margin-top:10px;
}


#giftMode2{
  width:300px;
  height:400px;
  float:left;
  margin-left: 20px;
}

img.gift:hover{
  cursor:pointer;
}

div.gift {
    width:50px;
    height:50px;
    background-image: url("trofy1.JPG");
    float:left;
    margin-right: 20px;
}

div.giftPrice{
    float:left;
    margin-right: 20px;
    width:70px;
    height:50px;
    vertical-align:bottom;
}
